.dark pre[class*="language-"],
.dark code[class*="language-"] {
  color: #d4d4d4;
  font-size: 13px;
  text-shadow: none;
  font-family: Menlo, Monaco, Consolas, "Andale Mono", "Ubuntu Mono",
    "Courier New", monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

.dark pre[class*="language-"]::selection,
.dark code[class*="language-"]::selection,
.dark pre[class*="language-"] *::selection,
.dark code[class*="language-"] *::selection {
  text-shadow: none;
  background: #264f78;
}

@media print {
  .dark pre[class*="language-"],
  .dark code[class*="language-"] {
    text-shadow: none;
  }
}

.dark pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  background: #1e1e1e;
}

.dark :not(pre) > code[class*="language-"] {
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
  color: #db4c69;
  background: #1e1e1e;
}
/*********************************************************
* Tokens
*/
.dark .namespace {
  opacity: 0.7;
}

.dark .token.doctype .token.doctype-tag {
  color: #569cd6;
}

.dark .token.doctype .token.name {
  color: #9cdcfe;
}

.dark .token.comment,
.dark .token.prolog {
  color: #6a9955;
}

.dark .token.punctuation,
.dark .language-html .language-css .token.punctuation,
.dark .language-html .language-javascript .token.punctuation {
  color: #d4d4d4;
}

.dark .token.property,
.dark .token.tag,
.dark .token.boolean,
.dark .token.number,
.dark .token.constant,
.dark .token.symbol,
.dark .token.inserted,
.dark .token.unit {
  color: #b5cea8;
}

.dark .token.selector,
.dark .token.attr-name,
.dark .token.string,
.dark .token.char,
.dark .token.builtin,
.dark .token.deleted {
  color: #ce9178;
}

.dark .language-css .token.string.url {
  text-decoration: underline;
}

.dark .token.operator,
.dark .token.entity {
  color: #d4d4d4;
}

.dark .token.operator.arrow {
  color: #569cd6;
}

.dark .token.atrule {
  color: #ce9178;
}

.dark .token.atrule .token.rule {
  color: #c586c0;
}

.dark .token.atrule .token.url {
  color: #9cdcfe;
}

.dark .token.atrule .token.url .token.function {
  color: #dcdcaa;
}

.dark .token.atrule .token.url .token.punctuation {
  color: #d4d4d4;
}

.dark .token.keyword {
  color: #569cd6;
}

.dark .token.keyword.module,
.dark .token.keyword.control-flow {
  color: #c586c0;
}

.dark .token.function,
.dark .token.function .token.maybe-class-name {
  color: #dcdcaa;
}

.dark .token.regex {
  color: #d16969;
}

.dark .token.important {
  color: #569cd6;
}

.dark .token.italic {
  font-style: italic;
}

.dark .token.constant {
  color: #9cdcfe;
}

.dark .token.class-name,
.dark .token.maybe-class-name {
  color: #4ec9b0;
}

.dark .token.console {
  color: #9cdcfe;
}

.dark .token.parameter {
  color: #9cdcfe;
}

.dark .token.interpolation {
  color: #9cdcfe;
}

.dark .token.punctuation.interpolation-punctuation {
  color: #569cd6;
}

.dark .token.boolean {
  color: #569cd6;
}

.dark .token.property,
.dark .token.variable,
.dark .token.imports .token.maybe-class-name,
.dark .token.exports .token.maybe-class-name {
  color: #9cdcfe;
}

.dark .token.selector {
  color: #d7ba7d;
}

.dark .token.escape {
  color: #d7ba7d;
}

.dark .token.tag {
  color: #569cd6;
}

.dark .token.tag .token.punctuation {
  color: #808080;
}

.dark .token.cdata {
  color: #808080;
}

.dark .token.attr-name {
  color: #9cdcfe;
}

.dark .token.attr-value,
.dark .token.attr-value .token.punctuation {
  color: #ce9178;
}

.dark .token.attr-value .token.punctuation.attr-equals {
  color: #d4d4d4;
}

.dark .token.entity {
  color: #569cd6;
}

.dark .token.namespace {
  color: #4ec9b0;
}
/*********************************************************
* Language Specific
*/

.dark pre[class*="language-javascript"],
.dark code[class*="language-javascript"],
.dark pre[class*="language-jsx"],
.dark code[class*="language-jsx"],
.dark pre[class*="language-typescript"],
.dark code[class*="language-typescript"],
.dark pre[class*="language-tsx"],
.dark code[class*="language-tsx"] {
  color: #9cdcfe;
}

.dark pre[class*="language-css"],
.dark code[class*="language-css"] {
  color: #ce9178;
}

.dark pre[class*="language-html"],
.dark code[class*="language-html"] {
  color: #d4d4d4;
}

.dark .language-regex .token.anchor {
  color: #dcdcaa;
}

.dark .language-html .token.punctuation {
  color: #808080;
}
/*********************************************************
* Line highlighting
*/
.dark pre[class*="language-"] > code[class*="language-"] {
  position: relative;
  z-index: 1;
}

.dark .line-highlight.line-highlight {
  background: #f7ebc6;
  box-shadow: inset 5px 0 0 #f7d87c;
  z-index: 0;
}

/*
Name:   Duotone Light
Author: Simurai, adapted from DuoTone themes for Atom (http://simurai.com/projects/2016/01/01/duotone-themes)

Conversion: Bram de Haan (http://atelierbram.github.io/Base2Tone-prism/output/prism/prism-base2tone-morning-light.css)
Generated with Base16 Builder (https://github.com/base16-builder/base16-builder)
*/

code[class*="language-"],
pre[class*="language-"] {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono",
    "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L",
    "Courier New", Courier, monospace;
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  background: #faf8f5;
  color: #728fcb;
}

pre > code[class*="language-"] {
  font-size: 1em;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #faf8f5;
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  text-shadow: none;
  background: #faf8f5;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #b6ad9a;
}

.token.punctuation {
  color: #b6ad9a;
}

.token.namespace {
  opacity: 0.7;
}

.token.tag,
.token.operator,
.token.number {
  color: #063289;
}

.token.property,
.token.function {
  color: #b29762;
}

.token.tag-id,
.token.selector,
.token.atrule-id {
  color: #2d2006;
}

code.language-javascript,
.token.attr-name {
  color: #896724;
}

code.language-css,
code.language-scss,
.token.boolean,
.token.string,
.token.entity,
.token.url,
.language-css .token.string,
.language-scss .token.string,
.style .token.string,
.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit,
.token.statement,
.token.regex,
.token.atrule {
  color: #728fcb;
}

.token.placeholder,
.token.variable {
  color: #93abdc;
}

.token.deleted {
  text-decoration: line-through;
}

.token.inserted {
  border-bottom: 1px dotted #2d2006;
  text-decoration: none;
}

.token.italic {
  font-style: italic;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.important {
  color: #896724;
}

.token.entity {
  cursor: help;
}

pre > code.highlight {
  outline: 0.4em solid #896724;
  outline-offset: 0.4em;
}

/* overrides color-values for the Line Numbers plugin
 * http://prismjs.com/plugins/line-numbers/
 */
.line-numbers.line-numbers .line-numbers-rows {
  border-right-color: #ece8de;
}

.line-numbers .line-numbers-rows > span:before {
  color: #cdc4b1;
}

/* overrides color-values for the Line Highlight plugin
 * http://prismjs.com/plugins/line-highlight/
 */
.line-highlight.line-highlight {
  background: rgba(45, 32, 6, 0.2);
  background: -webkit-linear-gradient(
    left,
    rgba(45, 32, 6, 0.2) 70%,
    rgba(45, 32, 6, 0)
  );
  background: linear-gradient(
    to right,
    rgba(45, 32, 6, 0.2) 70%,
    rgba(45, 32, 6, 0)
  );
}
