---
import nicoleImage from '../assets/nicole-headshot-square.jpg';
import workSection from '../assets/work-section.jpg';
---

<section id="contact" class="module">
    <a href="mailto:norchard24@gmail.com" class="detail">
        <svg width="23" height="17" viewBox="0 0 23 17" xmlns="http://www.w3.org/2000/svg">
            <path fill="currentColor" d="M19.5106 0H2.78723C2.04801 0 1.33907 0.293652 0.816359 0.816359C0.293652 1.33907 0 2.04801 0 2.78723V13.2393C0 13.9786 0.293652 14.6875 0.816359 15.2102C1.33907 15.7329 2.04801 16.0266 2.78723 16.0266H19.5106C20.2498 16.0266 20.9588 15.7329 21.4815 15.2102C22.0042 14.6875 22.2979 13.9786 22.2979 13.2393V2.78723C22.2979 2.04801 22.0042 1.33907 21.4815 0.816359C20.9588 0.293652 20.2498 0 19.5106 0ZM20.9042 13.2393C20.9042 13.609 20.7574 13.9634 20.4961 14.2248C20.2347 14.4861 19.8802 14.633 19.5106 14.633H2.78723C2.41762 14.633 2.06315 14.4861 1.8018 14.2248C1.54044 13.9634 1.39362 13.609 1.39362 13.2393V2.78723C1.39362 2.41762 1.54044 2.06315 1.8018 1.8018C2.06315 1.54044 2.41762 1.39362 2.78723 1.39362H19.5106C19.8802 1.39362 20.2347 1.54044 20.4961 1.8018C20.7574 2.06315 20.9042 2.41762 20.9042 2.78723V13.2393Z"/>
            <path fill="currentColor" d="M18.3748 3.64429L11.1489 9.55321L3.923 3.64429C3.77905 3.54903 3.60485 3.51059 3.43418 3.53643C3.2635 3.56227 3.10849 3.65054 2.99918 3.78415C2.88987 3.91775 2.83404 4.08717 2.84251 4.25959C2.85098 4.432 2.92315 4.59512 3.04503 4.71737L10.7099 10.9886C10.8341 11.0893 10.989 11.1443 11.1489 11.1443C11.3088 11.1443 11.4637 11.0893 11.5879 10.9886L19.2528 4.71737C19.334 4.66359 19.4031 4.59338 19.4556 4.51126C19.508 4.42913 19.5426 4.33691 19.5572 4.24056C19.5718 4.14422 19.566 4.0459 19.5402 3.95193C19.5145 3.85796 19.4693 3.77044 19.4076 3.69502C19.3458 3.61961 19.269 3.55797 19.182 3.51409C19.095 3.47022 18.9998 3.44507 18.9024 3.44029C18.8051 3.43551 18.7079 3.4512 18.617 3.48634C18.5261 3.52148 18.4436 3.57528 18.3748 3.64429V3.64429Z"/>
        </svg>
        <h4>norchard24@gmail.com</h4>
    </a>
    <a href="#" class="detail">
        <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_344_441)">
            <path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="M10.5087 0C4.69766 0 0 4.73229 0 10.5868C0 15.2666 3.00995 19.2279 7.18555 20.63C7.7076 20.7354 7.89883 20.4022 7.89883 20.1219C7.89883 19.8765 7.88162 19.0352 7.88162 18.1586C4.95836 18.7898 4.34962 16.8966 4.34962 16.8966C3.87983 15.6697 3.18375 15.3543 3.18375 15.3543C2.22697 14.7058 3.25345 14.7058 3.25345 14.7058C4.31477 14.7759 4.87167 15.7925 4.87167 15.7925C5.81103 17.4049 7.32472 16.9493 7.93368 16.6688C8.02058 15.9852 8.29914 15.512 8.59491 15.2491C6.2634 15.0037 3.81035 14.0923 3.81035 10.0258C3.81035 8.86895 4.22765 7.92249 4.88888 7.18641C4.78456 6.92355 4.4191 5.83663 4.99342 4.38188C4.99342 4.38188 5.88073 4.10139 7.88141 5.46859C8.73797 5.23685 9.62133 5.11896 10.5087 5.11797C11.396 5.11797 12.3005 5.24079 13.1358 5.46859C15.1366 4.10139 16.024 4.38188 16.024 4.38188C16.5983 5.83663 16.2326 6.92355 16.1283 7.18641C16.8069 7.92249 17.207 8.86895 17.207 10.0258C17.207 14.0923 14.754 14.9861 12.405 15.2491C12.7879 15.5821 13.1183 16.213 13.1183 17.2122C13.1183 18.6319 13.1011 19.7713 13.1011 20.1217C13.1011 20.4022 13.2926 20.7354 13.8144 20.6302C17.99 19.2277 21 15.2666 21 10.5868C21.0172 4.73229 16.3023 0 10.5087 0Z" />
            </g>
            <defs>
            <clipPath id="clip0_344_441">
            <rect width="21" height="21" fill="currentColor"/>
            </clipPath>
            </defs>
        </svg>        
        <h4>Github</h4>
    </a>
    <a href="#" class="detail">
        <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_344_445)">
            <path fill="currentColor" d="M17.5936 0H1.40273C0.627148 0 0 0.612305 0 1.36934V17.627C0 18.384 0.627148 19 1.40273 19H17.5936C18.3691 19 19 18.384 19 17.6307V1.36934C19 0.612305 18.3691 0 17.5936 0ZM5.63691 16.1908H2.8166V7.12129H5.63691V16.1908ZM4.22676 5.88555C3.32129 5.88555 2.59023 5.15449 2.59023 4.25273C2.59023 3.35098 3.32129 2.61992 4.22676 2.61992C5.12852 2.61992 5.85957 3.35098 5.85957 4.25273C5.85957 5.15078 5.12852 5.88555 4.22676 5.88555ZM16.1908 16.1908H13.3742V11.7822C13.3742 10.732 13.3557 9.37754 11.9084 9.37754C10.4426 9.37754 10.2199 10.5242 10.2199 11.708V16.1908H7.40703V7.12129H10.1086V8.36074H10.1457C10.5205 7.64824 11.4408 6.89492 12.8102 6.89492C15.6639 6.89492 16.1908 8.77266 16.1908 11.2145V16.1908V16.1908Z"/>
            </g>
            <defs>
            <clipPath id="clip0_344_445">
            <rect width="19" height="19" fill="white"/>
            </clipPath>
            </defs>
        </svg>
        <h4>LinkedIn</h4>
    </a>
</section>

<style>
    #contact, .detail {
        display: flex;
        vertical-align: middle;
        align-items: end;
    }

    #contact {
        justify-content: space-between;
    }
    
    .detail {
        align-items: center;
        margin: 10px 16px;
        padding: 8px 12px;
        color: inherit;
        text-decoration: none;
        border-radius: 8px;
        border: 2px solid rgba(0, 0, 0, 0);
        transition: all 0.2s ease-out;
    }

    .detail h4 {
        font-size: 16px;
        margin: 0px;
    }

    .detail:hover {
        color: #ffffff;
        background-color: var(--accent);
        /* border: 2px solid var(--module-border); */
    }

    .detail svg {
        margin-right: 10px;
    }

    @media (max-width: 700px) {
        #contact {
            display: block;
            vertical-align: middle;
            align-items: end;
        }
        .detail h4 {
            font-size: 14px;
        }
    }
</style>