---
import experiences from "../assets/data/experience.json";
const svgs = import.meta.glob<ImageMetadata>('../assets/companies/*.svg', { query: '?raw', import: 'default', eager: true });

experiences.forEach( (experience, i, array) => {
    array[i] = {
        ...experience,
        "svg": JSON.stringify(svgs[`../assets/companies/${ experience.company }.svg`]),
    }
});

const categories = [...new Set(experiences.map(experience => experience.category))]
---

{ categories.map( category => (
    <div class="container">
        <h4>{ category.charAt(0).toUpperCase() + category.slice(1)}</h4>
        { experiences.filter( exp => exp.category == category ).map( experience => (
            <section class="module experience">
                <div class="col-10">
                    <div class="col-1">
                        <h3>{ experience.title }</h3>
                        <h5>{ experience.date }</h5>
                    </div>
                    <p class="col-1">
                        { experience.description }
                    </p>
                </div>
                <a class="col-2" href={ experience.link } target="_blank">
                    <Fragment set:html={ JSON.parse(experience.svg) } />
                </a>
            </section>
        ))}
    </div>
))}
<!-- <div id="break">
    <svg width="191" height="32" viewBox="0 0 191 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M76.1992 0.0478516L80.1758 27.8896L85.4834 0.0244141L86.4678 0.0361328L91.1572 28.1738L96.8564 0.0185547L97.8408 0.0419922L102.194 28.1729L108.229 0.0136719L109.212 0.0419922L113.565 28.1729L119.6 0.0136719L120.582 0.0380859L125.255 28.873L129.736 15.7344L129.853 15.3955H190.864V16.3955H130.568L125.555 31.0918L124.588 31.0107L120.021 2.82227L113.975 31.0352L112.992 31.0068L108.638 2.87207L102.604 31.0352L101.621 31.0068L97.2803 2.96094L91.6006 31.0293L90.6172 31.0127L85.9414 2.96191L80.5977 31.0244L79.6113 31.001L75.5752 2.75586L72.0889 17.0498L71.9951 17.4316H0V16.4316H71.21L75.2188 0L76.1992 0.0478516Z" fill="currentColor"/>
    </svg>
</div> -->

<style>
    .experience {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        padding: 20px 30px;
        align-items: start;
        max-width: 1200px;
        margin-top: 20px;
    }
    .experience > div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
    .experience h3 {
        font-size: 32px;
        margin: 0px;
        font-weight: 400;
    }
    .experience h5 {
        font-size: 16px;
        margin: 0px;
        color: var(--accent);
        font-weight: 600;
    }
    .experience p {
        margin: 0px;
        line-height: 28px;
    }
    .experience a {
        justify-self: end;
        padding: 7px 8px 5px;
        border-radius: 5px;
        transition: all 0.2s ease-out;
    }
    @media (hover: hover) {
        .experience a:hover {
        background-color: var(--accent);
        color: #ffffff;
        }
    }
    @media (max-width: 1050px) {
        .experience > div {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            width: 100%;
        }
    }

    @media (max-width: 700px) {
        .experience h3 {
            margin-top: 70px;
            font-weight: 700;
        }

        .experience {
            padding: 10px 10px 20px 20px;
        }
    }

    /* #break {
        text-align: center;

        svg {
            padding-top: 22px;
        }
    } */
</style>