---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<div class="container">
	<p id="intro">
		I'm a developer with experience spanning graphic design, web design and development, and software engineering. My background includes designing brand identities and websites as well as building and maintaining web APIs and their underlying cloud infrastructure. I bring a strong visual sensibility paired with technical fluency to my work, whether in an agency setting or at a startup.
	</p>
</div>

<style>
	#intro {
		font-size: 24px;
		line-height: 42px;
		max-width: 1000px;
		font-weight: 400;
		margin: 50px auto;
		padding: 0px 30px;
	}
	@media (max-width: 700px) {
		#intro {
			font-size: 18px;
			line-height: 32px;
			margin: 30px auto;
			padding: 0px 20px;
		}
	}

	@media (max-width: 500px) {
		#intro {
			font-size: 17px;
			line-height: 28px;
			margin: 20px auto;
			padding: 0px 10px;
		}
	}
</style>
