---

---
<section class="container">
    <div id="top-bar">
        <h1 id="name" class="col-1"><a href="/">Nicole Orchard</a></h1>
        <div id='tattoo' class='col-1'>
            <div id='sun'></div>
            <div id='moon'></div>
            <div id='night'></div>
        </div>
    </div>
</section>

<style>
    #top-bar {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 30px 0px;
        --tattoo-size: 40px;
    }
    #tattoo {
        width: fit-content;
        justify-self: flex-end;
        margin-right: 10px;
    }
    #name {
        font-size: 24px;
        font-weight: 700;
        padding-left: 10px;
    }
    #name a {
        color: inherit;
        text-decoration: none;
        font-weight: 600;
    }
    #sun {
        box-sizing: border-box;
        border: solid calc(var(--tattoo-size) / 2) var(--accent);
        height: var(--tattoo-size);
        width: var(--tattoo-size);
        border-radius: calc(var(--tattoo-size) / 2);
        float: right;
        transition: all 0.5s ease;
        cursor: pointer;
    }

    #sun:hover{
        margin-top: -5px;
    }

    #moon {
        box-sizing: border-box;
        border: solid 4px #d4d4d4;
        height: var(--tattoo-size);
        width: var(--tattoo-size);
        border-radius: calc(var(--tattoo-size) / 2);
        float: right;
        margin-right: calc(0px - calc(var(--tattoo-size) / 2));
        transition: all 0.5s ease;
        cursor: pointer;
    }

    #moon:hover{
        margin-top: -5px;
    }

    #night {
        background-color: var(--bg);
        height: calc(var(--tattoo-size) * 1.5);
        width: calc(var(--tattoo-size) * 1.5);
        border-radius: calc(calc(var(--tattoo-size) * 3) / 2);
        float: right;
        margin-right: -25px;
        margin-top: -25px;
        transition: all 0s linear;
        transition-delay: 0s;
        transform: scale(0);
    }
    
    @media (max-width: 700px) {
        #name {
            font-size: 16px;
        }
        .container:has(#top-bar){
            margin-top: 10px !important;
        }
        #top-bar {
            --tattoo-size: 30px;
        }
        #moon {
            border: solid 3px #d4d4d4;
        }
    }
</style>

<script>
    const tattooClick = (e: Event) => {
        e.preventDefault();
        document.body.classList.toggle('dark')
        sessionStorage.setItem('darkmode', document.body.classList.contains('dark').toString());
    }

    document.querySelector('#sun')!.addEventListener('click', tattooClick);
    document.querySelector('#moon')!.addEventListener('click', tattooClick);
</script>