---
import { getCollection } from "astro:content";
const posts = await getCollection("blog");
---

<div class="container">
    <h4>Writing</h4>
    { posts.filter(post => post.data.status === "published")
        .sort((a,b) =>  Date.parse(a.data.date.toString()) - Date.parse(b.data.date.toString()) )
            .map( post => (
            <a href={`/blog/${post.id}/`}>
                <section class="module post">
                        <svg width="19" height="31" viewBox="0 0 19 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill="currentColor" d="M0 15.1205V0L18.7241 15.1205L0 30.241V15.1205Z"/>
                        </svg>
                        <h3>{ post.data.title }</h3>
                        <p>{ post.data.teaser || post.data.description }</p>
                </section>
            </a>

    ))}
</div>

<style>
    .post {
        padding: 25px 15px;
        transition: transform .4s ease-in-out, box-shadow .4s ease-in-out;
        margin-bottom: 20px;
		display: flex;
        align-items: end;
	}

	.post svg {
        margin-left: 20px;
		color: var(--accent);
		text-decoration: none;
        transition: transform .4s ease-in-out;
	}

    .post h3 {
        color: inherit;
        position: relative;
        text-decoration: none;
        padding-bottom: 3px;
        font-weight: 400;

        &::after {
            background-color: currentColor;
            bottom: -2px;
            content: '';
            height: 1.5px;
            margin-top: 5px;
            position: absolute;
            left: 0;
            transform-origin: left; /* Grow from the left */
            width: 100%;
            transform: scaleX(0);
            transition: width .5s ease-in-out, transform .5s ease-in-out;
        }
    }

    @media (hover: hover) {
        .post:hover {
            transform: scale(1.01);
            box-shadow: 0px 3px 20px var(--module-shadow);
            transition: transform .4s ease-in-out,  box-shadow .4s ease-in-out;

            /* background-color: black !important;
            background-image: none; */
            /* color: var(--accent); */
        }
        
        .post:hover h3::after {
            transform: scaleX(1);
        }
    }

    .right {
        &::after {
            right: 0 !important;
        }
    }


    /* .post:has(a:hover) > a > svg {
        transform: rotate(360deg);
        transition: transform .8s ease-in-out;

    } */

	.post h3 {
		/* color: inherit; */
		font-size: 32px;
		line-height: 32px;
		margin: 0px 20px;
        font-family: "swear-display", serif;
	}

    .post p {
        margin: 0px;
        color: var(--accent);
        font-family: "swear-text", serif;
        font-weight: 600;
        font-style: italic;
        padding-bottom: 3px;
    }

    @media (max-width: 1050px) {
        .post h3 {
            font-size: 24px;
        }
    }
    @media (max-width: 900px) {
        .post p {
            display: none;
        }
        .post h3 {
            font-weight: 700;
        }
    }
</style>

<!-- 
<script>

    const posts = document.getElementsByClassName('.post h3');
    for (const post of posts) {
        post.addEventListener('mouseout', (e) => {
            (post as HTMLElement).classList.toggle('right');
        })
    }
    
</script> -->