---
import NavBar from '../components/NavBar.astro';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="/prism-styles.css" />
		<link rel="stylesheet" href="https://use.typekit.net/iom0qcu.css">
		<meta name="generator" content={Astro.generator} />
		<title>Nicole Orchard</title>
		<script is:inline>
			document.addEventListener('DOMContentLoaded', (event) => {
				const darkMode = sessionStorage.getItem('darkmode') || 'true';
				console.log('darkMode', darkMode);
				if (darkMode === 'true') {
					const planets = document.querySelectorAll('#moon,#sun,#night')
					planets.forEach(el => el.style.transition =  'none');
					document.body.classList.toggle('dark');
					setTimeout(() => { 
						planets.forEach(el => { 
							el.style.transition =  el.id == 'night' ? 'all 0s linear' : 'all 0.5s ease-in-out'
						}) 
					}, 500);
				}
				// document.body.style.transition = 'all 0.3s ease-in-out';
			})
		</script>
	</head>
	<body>
		<NavBar />
		<slot />
	</body>
</html>

<style is:global>
	@font-face {
		font-family: 'Canela';
		src: url('/fonts/Canela-Medium-Trial.oft') format('oft');
		font-weight: 500;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'Canela';
		src: url('/fonts/Canela-MediumItalic-Trial.oft') format('oft');
		font-weight: 500;
		font-style: italic;
		font-display: swap;
	}

	:root {
		--bg: #ede6e6;
		--text: #2A2C34;
		--accent: #dc4644;
		--accent-tint: color-mix(in srgb, black 20%, var(--accent));
		--module-border: #ececec;
		--module-shadow: hsl(0, 0%, 84%);
		--gray: #8e919f;
	}

	body.dark {
		--bg: #2A2C34;
		--text: #f1f1f1;
		--accent-tint: color-mix(in srgb, rgb(212, 212, 212) 50%, var(--accent));
		--module-border: #282a36;
		--module-shadow: hsl(0, 0%, 4%);
		--gray: #74767e;
	}

	.grid-container {
        display: grid;
        align-items: center;
        /* vertical-align: text-bottom; */
        /* align-content: space-around; */
        grid-template-columns: repeat(12, 1fr);
        gap: 5em;
		max-width: 100%;
    }
	.col-1 {
        grid-column: span 1;
    }
	.col-2 {
        grid-column: span 2;
    }
    .col-3 {
        grid-column: span 3;
    }
	.col-4 {
        grid-column: span 4;
    }
	.col-5 {
        grid-column: span 5;
    }
    .col-6 {
        grid-column: span 6;
    }
    .col-9 {
        grid-column: span 9;
    }
	.col-10 {
        grid-column: span 10;
    }

	body {
		background-color: var(--bg);
		color: var(--text);
		font-family: polymath, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		margin: 10px;
	}

	h1, h2, h3, h4, h5, h6, p, a {
		font-weight: 400;
	}

	div > h4 {
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: .3em;
		color: var(--gray);
		margin-left: 30px;
	}

	a {
		color: inherit;
		text-decoration: none;
	}
	
	.container {
		max-width: 1000px;
		margin: 50px auto 0px;
	}

	.module {
		max-width: 1000px !important;
		box-sizing: border-box;
		width: 100%;
		border-radius: 15px;
		background-image: linear-gradient(color-mix(in srgb, black 4%, var(--bg)), color-mix(in srgb, black 7%, var(--bg)));
		border: 2px solid var(--module-border);
		box-shadow: 0px 0px 10px var(--module-shadow);
	}

	.dark .module {
		/* filter: brightness(60%); */
		background-image: linear-gradient(color-mix(in srgb, black 50%, var(--bg)), color-mix(in srgb, black 60%, var(--bg)));

		/* background-color: color-mix(in srgb, black 50%, var(--bg)); */
		box-shadow: 0px 0px 10px var(--module-shadow);
		border: 2px solid var(--module-border);
	}

	.dark #sun {
        border: solid 3px var(--accent);
    }

    .dark #moon {
        border: solid calc(var(--tattoo-size)/2) #ffffff;
    }

    .dark #night {
        transition-delay: 0.2s;
        transform: scale(1);
    }

	::selection {
		background-color: #d4a15b; /* Changes the highlight background to red */
		color: #efd3b7;           /* Changes the selected text color to white */
	}

	::selection {
		background-color: #d4d8de; /* Changes the highlight background to red */
		color: #27a12d;           /* Changes the selected text color to white */
	}

	/* For compatibility with older Firefox versions */
	::-moz-selection {
		background-color: #d4a15b;
		color: #efd3b7;
	}

	.dark ::selection {
		background-color: #778da9; /* Changes the highlight background to red */
		color: #046509;           /* Changes the selected text color to white */
	}

	/* For compatibility with older Firefox versions */
	.dark ::-moz-selection {
		background-color: #778da9;
		color: #046509;
	}

	.blog-post a {
        color: inherit;
        position: relative;
        text-decoration: none;

        &::after {
            background-color: currentColor;
            bottom: -2px;
            content: '';
            height: 5%;
            position: absolute;
            right: 0;
            width: 100%;
        }

        &:hover {
            color: var(--accent);
            &::after {
                background-color: var(--accent);
            }
        }
    }

	.blog-post img {
        max-width: 100% !important;
        height: auto !important;
        display: block;
    }

    @media (max-width: 700px) {
		.dark #night {
			margin-right: -20px;
			margin-top: -20px;
		}

		.blog-post h1 {
			font-size: 42px !important;
			line-height: 48px;
		}

		h3 {
			font-size: 24px !important;
			font-weight: 700;
		}

		h5 {
			font-size: 14px !important;
			padding-bottom: 15px;
		}

		div > h4 {
			margin-left: 10px;
		}
	}
</style>