---
import Layout from './Layout.astro';
const { frontmatter } = Astro.props;
---

<Layout>
    <div class='container blog-post'>
        <h1>{ frontmatter.title }</h1>
        <h2>{ frontmatter.description }</h2>
        <slot />
    </div>
 </Layout>

 <style>
    .blog-post.container {
        max-width: 650px;
        font-size: 16px;
        line-height: 24px;
        padding-bottom: 100px;
    }

    .blog-post.container > h1 {
        font-size: 52px;
        font-family: "swear-display", serif;
    }

    .blog-post.container > h2 {
        font-family: "swear-text", serif;
        font-weight: 600;
        font-style: italic;
        color: var(--accent);
    }

    pre {
        padding: 10px;
    }

    pre.astro-code {
        background-color: var(--accent) !important;
    }
 </style>
